@import "../common/_skin.scss";

.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    bottom: 0;
    font-size: 19px;
    background-color: $color-light-grey;
    color: $color-light;
    opacity: .7;

    &__social-icons a {
        padding: 0px 10px;
        color: $color-primary;
    }

    &__info p {
        margin: 0px;
    }

    &__social-icons {
        padding: 0;
        margin: 0;
        display: flex;
        gap: 20px;
        align-items: center;
    }

    &-navbar {

        &__list {
            padding: 0;
            margin: 0;
            display: flex;

            li {
                margin: 0px 10px;
            }

            &-link {
                font-size: 14px;
                color: $color-dark;

                &:before {
                    content: '\2022';
                    margin-right: 5px;
                    color: $color-dark;
                }
            }
        }
    }
}