@import "../common/_skin.scss";

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    background-color: $color-lightblue;
    color: $color-text;
    opacity: .7;

    &__social-icons a {
        padding: 0px 10px;
        font-size: 20px;
        color: $color-text;

        &:hover {
            color: $color-focus;
        }
    }

    &__info p {
        margin: 0px;
    }

    &__social-icons {
        padding: 0;
        margin: 0;
        display: flex;
        gap: 20px;
        align-items: center;
    }

    &-navbar {
        &__list {
            padding: 0;
            margin: 0;
            display: flex;

            li {
                margin: 0px 10px;
            }

            &-link {
                font-size: 14px;
                color: $color-text;

                &:hover {
                    color: $color-focus;
                }

                &:before {
                    content: '\2022';
                    margin-right: 5px;
                    color: $color-text;
                }
            }
        }
    }
}