@import "../common/_skin.scss";

.header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-darkblue;

    &-container {
        display: grid;
        grid-template-areas:
            "hdlogo hdnav hdnav";

        min-width: 60%;
        padding: 0;
        margin: 0;
    }
}

.first-section {
    grid-area: hdlogo;

    &__text,
    &__icon {
        font-size: 26px;
    }
}

.second-section {
    grid-area: hdnav;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    &__block {
        margin-left: 40px;
        display: flex;

        a {
            min-width: 120px;
        }
    }

    &__selector {
        font-size: 16px;
        border: none;
        background-color: $color-darkblue;
        color: $color-text;

        option {
            font-size: 20px;
        }
    }

    &__language-selector__toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    &__balance {
        color: $color-focus;
        padding-right: 10px;
    }
}

.first-section,
.second-section {
    padding: 10px 0px;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding: 5px 10px;
        border-radius: 40px;
        color: $color-text;

        &:hover {
            background-color: lighten($color-darkblue, 10%);
            color: $color-focus;
        }
    }

    &__icon {
        margin-right: 10px;
    }
}