@{
    ViewData["Title"] = "Bus Page";
    Layout = "_SiteLayout";
}

<link href="~/css/site.css" rel="stylesheet" />

<div class="account-container">
    <div class="account-container">
        <div class="leftpanel">
            <ul>
                <li><a href="#personalInfo">Личная информация</a></li>
                <li><a href="#plannedTrip">Заплановані поїздки</a></li>
                <li><a href="#tripHistory">Історія поїздок</a></li>
            </ul>
        </div>

        <div class="maincontent">
            <div id="personalInfo" class="section">
                @{
                    await Html.RenderPartialAsync("_PersonalInfo");
                }
            </div>
            <div id="plannedTrip" class="section">
                @{
                    await Html.RenderPartialAsync("_PlannedTrip");
                }
            </div>
            <div id="tripHistory" class="section">
                @{
                    await Html.RenderPartialAsync("_TripHistory");
                }
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script> 
<script>
    $(document).ready(function () {

        $('#personalInfo').show();
        $('#plannedTrip').hide();
        $('#tripHistory').hide();

        $('ul li a').click(function (e) {
            e.preventDefault();

            var sectionId = $(this).attr('href');

            $('.section').hide();
            $(sectionId).show();
        });
    });
</script>