@using TiVerse.Shared
@{
    Layout = "_SiteLayout";
}
<div class="accountpage">
    <div class="sidebar">
        <div class="sidebar__user">
            <span>@ParseUsername.GetName(@User.FindFirst("name")?.Value):</span>
        </div>

        <div class="sidebar__list">
            <ul>
                <li>
                    <a href="#" id="personalInfoLink" data-partialview="_PersonalInfo">
                        <i class="fa-solid fa-circle-info"></i>
                        <span>Особиста інформація</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Account" asp-action="DisplayPlannedTrips" id="plannedTripLink" data-partialview="_PlannedTrip">
                        <i class="fa-solid fa-paper-plane"></i>
                        <span>Заплановані поїздки</span>
                    </a>
                </li>
                <li>
                    <a href="#" id="tripHistoryLink" data-partialview="_TripHistory">
                        <i class="fa-solid fa-clock-rotate-left"></i>
                        <span>Історія поїздок</span>
                    </a>
                </li>
                <li>
                    <a href="#" id="accountBalanceLink" data-partialview="_AccountBalance">
                        <i class="fa-solid fa-wallet"></i>
                        <span>Поповнити рахунок</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="MainPage" asp-action="Logout">
                        <i class="fa-solid fa-right-from-bracket"></i>                             
                        <span>Вийти</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="displaypage">
        @await Html.PartialAsync("_PersonalInfo")
    </div>
</div>
