<div>
    <main role="main">
        <h1>Успішна оплата ✅</h1>
        <p>Дякую, ваша заявка прийнята!</p>
        <p>User ID: @ViewData["test1"]</p>
        <p>Top Up Amount: @ViewData["test2"]</p>
        <p>
            <a asp-controller="Home" asp-action="Index">Головна</a>
        </p>
    </main>
</div>