@import "_skin.scss";

*,
*::before,
*::after {
    box-sizing: border-box;
    list-style: none;
}

html {
    overflow-y: scroll;
    font-family: 'Sans Serif Collection';
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: $color-darkblue;
}
