@{
    ViewData["Title"] = "Home Page";
    Layout = "_SiteLayout";
}

<div class="mainpage-container">
    <h1 class="mainpage-title">Пошук квитків онлайн</h1>

    <form class="mainpage-form">
        <div class="mainpage-form__group">
            <label class="mainpage-form__group-text" for="from">Звідки:</label>
            <input class="mainpage-form__group-input" type="text" id="from" name="from" required>
        </div>

        <div class="mainpage-form__group">
            <label class="mainpage-form__group-text" for="to">Куди:</label>
            <input class="mainpage-form__group-input" type="text" id="to" name="to" required>
        </div>

        <div class="mainpage-form__group">
            <label class="mainpage-form__group-text" for="date">Коли:</label>
            <input class="mainpage-form__group-input" type="date" id="date" name="date" required>
        </div>

        <input class="mainpage-form__button" type="submit" value="Пошук">
    </form>
</div>