@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
}

html {
  overflow-y: scroll;
  font-family: "Sans Serif Collection";
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #0f2a3d;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f2a3d;
}
.header-container {
  display: grid;
  grid-template-areas: "hdlogo hdnav hdnav";
  min-width: 60%;
  padding: 0;
  margin: 0;
}

.first-section {
  grid-area: hdlogo;
}
.first-section__text, .first-section__icon {
  font-size: 26px;
}

.second-section {
  grid-area: hdnav;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.second-section__block {
  margin-left: 40px;
  display: flex;
}
.second-section__block a {
  min-width: 120px;
}
.second-section__selector {
  font-size: 16px;
  border: none;
  background-color: #0f2a3d;
  color: #ffefce;
}
.second-section__selector option {
  font-size: 20px;
}
.second-section__language-selector__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.second-section__balance {
  color: #ffa439;
  padding-right: 10px;
}

.first-section,
.second-section {
  padding: 10px 0px;
}
.first-section a,
.second-section a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 5px 10px;
  border-radius: 40px;
  color: #ffefce;
}
.first-section a:hover,
.second-section a:hover {
  background-color: #194666;
  color: #ffa439;
}
.first-section__icon,
.second-section__icon {
  margin-right: 10px;
}

.maincontent {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: #eff1f4;
}

.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
  background-color: #719ebd;
  color: #ffefce;
  opacity: 0.7;
}
.footer__social-icons a {
  padding: 0px 10px;
  font-size: 20px;
  color: #ffefce;
}
.footer__social-icons a:hover {
  color: #ffa439;
}
.footer__info p {
  margin: 0px;
}
.footer__social-icons {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  align-items: center;
}
.footer-navbar__list {
  padding: 0;
  margin: 0;
  display: flex;
}
.footer-navbar__list li {
  margin: 0px 10px;
}
.footer-navbar__list-link {
  font-size: 14px;
  color: #ffefce;
}
.footer-navbar__list-link:hover {
  color: #ffa439;
}
.footer-navbar__list-link:before {
  content: "•";
  margin-right: 5px;
  color: #ffefce;
}

.mainpage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  padding: 10px;
  border-radius: 20px;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  padding-bottom: 70px;
}

.popularroute-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  padding: 10px;
  border-radius: 20px;
  margin: 20px auto;
  padding-bottom: 70px;
}

.mainpage-title {
  font-family: "Century Gothic";
  font-size: 50px;
  color: #ffa439;
}
.mainpage-title h1 {
  margin: 0;
}

.mainpage-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.mainpage-form__group {
  display: flex;
  flex-direction: row;
  background-color: #719ebd;
  padding: 5px;
  min-height: 110px;
  border-radius: 10px;
  padding-bottom: 15px;
}
.mainpage-form__group-block {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0px 5px;
}
.mainpage-form__group-text {
  color: #ffefce;
  font-size: 24px;
}
.mainpage-form__group-select {
  border: none;
  outline: none;
  padding: 8px;
  font-size: 20px;
  font-weight: bold;
  color: #ffa439;
  border-bottom: 1px solid #0f2a3d;
  width: max-content;
  background-color: #eff1f4;
  border-radius: 5px;
}
.mainpage-form__group-select option {
  background-color: #719ebd;
  color: #ffa439;
  font-size: 20px;
  border-radius: 5px;
}
.mainpage-form__group-input {
  border: none;
  outline: none;
  padding: 8px;
  font-size: 20px;
  font-weight: bold;
  color: #ffa439;
  border-bottom: 1px solid #0f2a3d;
  border-radius: 5px;
  width: max-content;
}
.mainpage-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 200px;
  background-color: #ffa439;
  color: #ffefce;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  margin-left: 20px;
}
.mainpage-form__button:hover {
  filter: brightness(90%);
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-top: 50px;
}
.image-container__wrapper {
  margin: 0 10px;
}
.image-container__wrapper-photo {
  width: 600px;
  height: auto;
  display: block;
  max-width: 100%;
}

.routes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 60%;
  margin-bottom: 50px;
}
.routes-container__local, .routes-container__foreign {
  width: 40%;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 10px;
}

.route-titles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 60%;
  margin-top: 50px;
  margin-bottom: 10px;
}
.route-titles__item {
  width: 40%;
  padding-left: 20px;
}
.route-titles__item span {
  font-size: 22px;
  font-weight: bold;
  color: #0f2a3d;
}

.route {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #719ebd;
  padding: 10px;
  font-size: 18px;
  min-width: 100%;
}
.route:hover {
  background-color: rgba(230, 230, 230, 0.7);
  border-radius: 5px;
}
.route-points {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
.route-price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.route-price span {
  font-weight: bold;
  color: #ffa439;
}

.display-container {
  display: flex;
  justify-content: center;
  width: 60%;
}

.filter-container {
  background-color: blue;
  flex: 0 0 auto;
  margin: 30px 10px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  min-width: 20%;
  padding: 5px;
  border-radius: 10px;
}
.filter-container__title, .filter-container__sorting {
  border-bottom: 1px solid #0f2a3d;
  font-size: 18px;
  color: #0f2a3d;
}
.filter-container__title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: 20px;
}
.filter-container__sorting-label input[type=radio]:checked {
  accent-color: #ffa439;
}
.filter-container__sorting-direction {
  border-bottom: 1px solid #0f2a3d;
}

.route-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  padding: 10px;
  border-radius: 20px;
  margin: 20px 10px;
  margin-bottom: 150px;
}
.route-container__item {
  min-width: 100%;
}

.route-block {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: stretch;
  border-radius: 10px;
  min-height: 150px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  flex: 1;
}
.route-block__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 0 10px;
  font-size: 20px;
}
.route-block__details-text {
  font-weight: bold;
}
.route-block__details-buylink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: white;
  background-color: #ffa439;
  border-radius: 5px;
  width: 150px;
  max-height: 80px;
}
.route-block__details-buylink:hover {
  filter: brightness(90%);
}

.delete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: white;
  background-color: red;
  border-radius: 5px;
  width: 150px;
  max-height: 80px;
}
.delete:hover {
  filter: brightness(90%);
}

.change {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: white;
  background-color: lightblue;
  border-radius: 5px;
  width: 150px;
  max-height: 80px;
}
.change:hover {
  filter: brightness(90%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.price {
  font-size: 18px;
  color: #0f2a3d;
}
.price-slider {
  margin-bottom: 20px;
  margin-top: 10px;
}
.price-inputs {
  display: flex;
  justify-content: space-between;
}
.price-input {
  border: none;
  color: #ffa439;
  padding: 0 10px;
}
.price-label {
  display: flex;
  align-items: center;
  width: 130px;
  height: 40px;
  border: 1px solid #0f2a3d;
  border-radius: 4px;
  padding: 0 10px;
}
.price-text {
  font-size: 14px;
}
.price-text:first-child {
  margin-right: 10px;
}
.price-text:last-child {
  margin-right: 10px;
}

.noUi-connect {
  background: #ffa439 !important;
}

div.price-slider.noUi-target {
  background-color: #bfbfbf !important;
  border: none !important;
  border-radius: 100px !important;
  box-shadow: none !important;
  height: 3px !important;
}

.noUi-handle::after,
.noUi-handle::before {
  display: none !important;
}

.noUi-handle {
  box-shadow: none !important;
  border-radius: 100% !important;
  background-color: white !important;
  border: 3px solid #ffa439 !important;
}

.noUi-horizontal .noUi-handle {
  width: 22px;
  height: 22px;
  top: -11px !important;
}

.noUi-horizontal .noUi-handle-upper {
  right: 0 !important;
}

.noUi-horizontal .noUi-handle-lower {
  right: -32px !important;
}

.fromCity {
  font-size: 18px;
  color: #0f2a3d;
  border-top: 1px solid #0f2a3d;
  border-bottom: 1px solid #0f2a3d;
  margin-top: 20px;
}
.fromCity label {
  display: block;
  margin-bottom: 5px;
}

.accountpage {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "sidebar disppage";
  grid-template-columns: 1fr 5fr;
  background-color: #eff1f4;
}

.sidebar {
  color: #0f2a3d;
  grid-area: sidebar;
  border-right: 3px solid #0f2a3d;
  background-color: rgba(255, 255, 255, 0.7);
}
.sidebar__user {
  margin: 10px 0px 10px 10px;
  font-size: 24px;
  font-weight: bold;
  color: #0f2a3d;
  border-bottom: 2px solid #0f2a3d;
}
.sidebar__list {
  font-size: 18px;
}
.sidebar__list a {
  display: block;
  padding: 5px;
  border-radius: 15px;
  width: 90%;
}
.sidebar__list a i {
  margin-right: 10px;
}
.sidebar__list a:hover {
  background-color: #ffa439;
}

.displaypage {
  grid-area: disppage;
  padding: 10px;
}

.personalinfo {
  margin: 15px auto;
  width: 60%;
  border-radius: 20px;
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  color: #0f2a3d;
}
.personalinfo__header {
  margin: 0;
}
.personalinfo__form {
  display: flex;
  align-items: center;
  font-size: 24px;
}
.personalinfo__form-block {
  display: flex;
  flex-direction: column;
  margin-right: 25%;
}
.personalinfo__form-input {
  border: none;
  outline: none;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #0f2a3d;
  border-radius: 5px;
  width: max-content;
}
.personalinfo__form-input.email-input {
  width: 160%;
}
.personalinfo__button {
  width: 150px;
  height: 45px;
  margin: 15px auto;
  border-radius: 20px;
  background-color: #ffa439;
  outline: none;
  border: none;
  font-size: 20px;
  color: white;
}
.personalinfo__button:hover {
  border: 2px solid #0f2a3d;
  color: #0f2a3d;
}

.alert {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-left: 5px;
  border-radius: 30px;
  min-width: 70%;
  color: #0f2a3d;
}
.alert h2 {
  margin: 0;
}
.alert-success {
  background-color: #6CD664;
}
.alert-danger {
  background-color: #EE4444;
}

.account-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  padding: 10px;
  border-radius: 20px;
  margin: 20px auto;
  margin-bottom: 150px;
}
.account-container__item {
  min-width: 100%;
}
.account-container__header {
  color: #0f2a3d;
}

.button-blocked {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: white;
  background-color: grey;
  border-radius: 5px;
  width: 150px;
  max-height: 80px;
}

.account-container__message {
  background-color: rgba(255, 255, 255, 0.7);
  color: #EE4444;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 5px 10px;
}

.cash-container {
  margin: 15px auto;
  width: 60%;
  border-radius: 20px;
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.cash-container__title {
  color: #0f2a3d;
  text-align: center;
}
.cash-container__info {
  display: flex;
  justify-content: center;
  gap: 250px;
}

.leftpannel {
  padding: 15px;
  border-right: 2px solid #0f2a3d;
}
.leftpannel .leftpannel-title {
  color: #0f2a3d;
}
.leftpannel .leftpannel-balance {
  font-size: 60px;
  color: #ffa439;
}

.rightpannel {
  display: flex;
  justify-content: center;
}
.rightpannel-label {
  font-size: 28px;
  font-weight: bold;
  color: #0f2a3d;
}
.rightpannel-input {
  border: none;
  outline: none;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #0f2a3d;
  border-radius: 5px;
  width: max-content;
  margin-top: 50px;
}
.rightpannel-button {
  width: 200px;
  height: 45px;
  margin: 15px auto;
  border-radius: 20px;
  background-color: #ffa439;
  outline: none;
  border: none;
  font-size: 20px;
  color: white;
}
.rightpannel-button:hover {
  border: 2px solid #0f2a3d;
  color: #0f2a3d;
}
